# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

version: '3'

vars:
  GORELEASER_PARALLELISM:
    sh: nproc --ignore=1
  GORELEASER_VERBOSE: false
  GORELEASER_BUILD_ALL: false

env:
  GIT_TREE_STATE:
    sh: git status --porcelain &>/dev/null || echo dirty

tasks:
  snapshot:
    desc: Builds a snapshot with goreleaser
    cmds:
      - |
        goreleaser --verbose={{ .GORELEASER_VERBOSE }} \
          build \
          --snapshot \
          --clean \
          --parallelism={{ .GORELEASER_PARALLELISM }} \
          {{ if not .GORELEASER_BUILD_ALL }}--single-target{{ end }}

  release:
    desc: Builds a release with goreleaser
    cmds:
      - |
        {{if not .SKIP_BUILD}}
        goreleaser --verbose={{ .GORELEASER_VERBOSE }} \
          release \
          --clean \
          --parallelism={{ .GORELEASER_PARALLELISM }} \
          {{ .GORELEASER_FLAGS }}
        {{end}}

  release-unpublished:
    desc: Builds a release locally with goreleaser for specific platforms without publishing
    vars:
      TEMP_CONFIG:
        sh: mktemp
      TEMP_RELEASE_NOTES:
        sh: mktemp
      GORELEASER_PLATFORMS:
        sh: test -n '{{.GORELEASER_PLATFORMS}}' && echo '{{.GORELEASER_PLATFORMS}}' || echo "\"linux_$(go env GOARCH)\""
    cmds:
      - defer: rm -f '{{.TEMP_CONFIG}}' '{{.TEMP_RELEASE_NOTES}}'
      - cmd: |
          gojq --yaml-input --yaml-output '.builds |= map(del(.goarch) | del(.goos) | .targets|=([{{.GORELEASER_PLATFORMS}}] | unique | map(. | sub("_amd64$";"_amd64_v1"))))' .goreleaser.yml > '{{.TEMP_CONFIG}}'
        silent: true
      - task: release
        vars:
          GORELEASER_FLAGS: '--config={{.TEMP_CONFIG}} --release-notes={{.TEMP_RELEASE_NOTES}} --skip=announce,archive,publish,validate'

  release-snapshot:
    desc: Builds a snapshot release with goreleaser
    vars:
      TEMP_CONFIG:
        sh: mktemp
      HOST_GOOS:
        sh: go env GOOS
      HOST_GOARCH:
        sh: go env GOARCH
      GORELEASER_FLAGS: '--snapshot --config={{.TEMP_CONFIG}}'
      GORELEASER_PLATFORMS:
        sh: test -n '{{.GORELEASER_PLATFORMS}}' && echo '{{.GORELEASER_PLATFORMS}}' || echo '"{{.HOST_GOOS}}_{{.HOST_GOARCH}}"'
    cmds:
      - defer: rm -f '{{.TEMP_CONFIG}}' '{{.TEMP_RELEASE_NOTES}}'
      - cmd: |
          gojq --yaml-input --yaml-output '.builds |= map(del(.goarch) | del(.goos) | .targets|=([{{.GORELEASER_PLATFORMS}}] | unique | map(. | sub("_amd64$";"_amd64_v1"))))' .goreleaser.yml > '{{.TEMP_CONFIG}}'
        silent: true
      - |
        goreleaser --verbose={{ .GORELEASER_VERBOSE }} \
          release \
          --snapshot \
          --clean \
          --parallelism={{ .GORELEASER_PARALLELISM }} \
          {{ .GORELEASER_FLAGS }}
