# Copyright 2024 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

version: '3'

tasks:
  lint-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
    cmds:
      - task: fmt-macro
        vars:
          MODULE_DIR: '{{.MODULE_DIR}}'
      - echo "Running golangci-lint run for '{{.MODULE_DIR}}'"
      - golangci-lint run --fix --config='{{.ROOT_DIR}}/.golangci.yml' ./...

  lint:
    desc: Runs golangci-lint run for all modules in repository
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: lint-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: lint-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'

  fmt-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
    cmds:
      - echo "Running golangci-lint fmt for '{{.MODULE_DIR}}'"
      - golangci-lint fmt --config='{{.ROOT_DIR}}/.golangci.yml' ./...
      - go fix ./...

  fmt:
    desc: Runs golangci-lint fmt for all modules in repository
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: fmt-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: fmt-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'

  mod-tidy-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
    cmds:
      - go mod tidy -v
      - go mod verify

  mod-tidy:
    desc: Run go mod tidy for all modules in the repository
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: mod-tidy-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: mod-tidy-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'

  clean-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
    cmds:
      - go clean -r -i -cache -testcache -modcache

  clean:
    desc: Cleans go build, test and modules caches for all modules in the repository
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: clean-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: clean-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'

  vulncheck-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
    cmds:
      - govulncheck ./...

  vulncheck:
    desc: Runs govulncheck for all modules in repository
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: vulncheck-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: vulncheck-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'

  mod-edit-toolchain-macro:
    internal: true
    dir: '{{.MODULE_DIR}}'
    requires:
      vars:
        - MODULE_DIR
        - GO_TOOLCHAIN_VERSION
    cmds:
      - go mod edit -toolchain=go{{.GO_TOOLCHAIN_VERSION}}
      - task: mod-tidy-macro
        vars:
          MODULE_DIR: .

  mod-edit-toolchain:
    desc: Edits the go.mod file of all modules in repository to use the specified toolchain version
    requires:
      vars:
        - GO_TOOLCHAIN_VERSION
    vars:
      GO_SUBMODULES:
        sh: fd go.mod --exclude third_party --min-depth 2 --strip-cwd-prefix --exec echo {//}/
    cmds:
      - task: mod-edit-toolchain-macro
        vars:
          MODULE_DIR: .
      - for: {var: GO_SUBMODULES, as: GO_SUBMODULE_PATH}
        task: mod-edit-toolchain-macro
        vars:
          MODULE_DIR: '{{.GO_SUBMODULE_PATH}}'
          GO_TOOLCHAIN_VERSION: '{{.GO_TOOLCHAIN_VERSION}}'
