# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: checks

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main

permissions:
  contents: read

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install asdf
        uses: asdf-vm/actions/setup@v1

      - name: Run unit tests
        run: make test

      - name: Annotate tests
        if: always()
        uses: guyarb/golang-test-annotations@v0.5.0
        with:
          test-results: test.json

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Output required tool versions
        id: tool-versions
        run: |
          echo "::set-output name=go::$(grep -E '^golang ' .tool-versions | cut -d' ' -f2)"
          echo "::set-output name=golangci-lint::v$(grep -E '^golangci-lint ' .tool-versions | cut -d' ' -f2)"

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ steps.tool-versions.outputs.go }}
          check-latest: true

      - name: Check out code
        uses: actions/checkout@v3

      - name: Ensure dummy skopeo files
        run: make ensure-static-skopeo
        env:
          SKIP_ASDF_CHECK: 1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: ${{ steps.tool-versions.outputs.golangci-lint }}
          only-new-issues: ${{ github.event_name == 'pull_request' }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Install asdf
        uses: asdf-vm/actions/setup@v1

      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --all-files
        env:
          SKIP: no-commit-to-branch,golangci-lint
