# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: checks
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
permissions:
  contents: read
defaults:
  run:
    shell: bash
jobs:
  unit-test:
    runs-on: ubuntu-24.04
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - name: Go cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Run unit tests
        run: devbox run -- task test:unit
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f # v2
        if: (!cancelled())
        with:
          check_name: "Unit test results"
          files: |
            junit-report.xml
  e2e-test:
    runs-on: ubuntu-24.04
    permissions:
      checks: write
      pull-requests: write
    steps:

      - name: Free disk space
        uses: insightsengineering/disk-space-reclaimer@124df9d297f0327c676943bb718a894af8d3897f # v1
        with:
          tools-cache: true
      - name: Recreate tool cache directory
        run: mkdir -p "${RUNNER_TOOL_CACHE}"
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
        with:
          platforms: arm64
      - name: Run e2e tests
        run: devbox run -- task test:e2e
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TMPDIR: ${{ runner.temp }}
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f # v2
        if: (!cancelled())
        with:
          check_name: "e2e test results"
          files: |
            junit-e2e.xml
  lint:
    runs-on: ubuntu-24.04
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - name: golangci-lint
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          devbox run -- "golangci-lint run --config=${{ github.workspace }}/.golangci.yml --output.text.path=stdout ./... | \
                         reviewdog -f=golangci-lint -reporter=github-pr-review --fail-level=any"
      - name: golangci-lint-fmt
        run: devbox run -- task go:fmt
  lint-gha:
    runs-on: ubuntu-24.04
    permissions:
      checks: write
      pull-requests: write
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1
        with:
          fail_level: warning
          reporter: github-pr-review
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - name: Go cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up pre-commit cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Run pre-commit
        run: devbox run -- task pre-commit:run
        env:
          SKIP: no-commit-to-branch,golangci-lint,actionlint-system
  govulncheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - id: govulncheck
        run: devbox run -- task go:vulncheck
