# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: build-on-macos
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
defaults:
  run:
    shell: bash
jobs:
  build-and-run:
    runs-on: macos-15
    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
        env:
          NIX_USER_COUNT: 4
      - name: Build
        run: |
          GORELEASER_PLATFORMS='"darwin_amd64"' devbox run -- task build:release-unpublished
        env:
          TMPDIR: ${{ runner.temp }}
      - name: Run binary
        run: |
          ./dist/mindthegap_darwin_amd64_v1/mindthegap
