# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: "conventional-pr-title"
on:
  pull_request_target:
    types:
      - opened
      - edited
defaults:
  run:
    shell: bash
jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v5
        with:
          types: |
            build
            ci
            docs
            feat
            fix
            perf
            refactor
            release
            revert
            style
            test
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
