# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: dependabot
on:
  pull_request_target:
    types:
      - opened
permissions:
  pull-requests: write
  contents: write
defaults:
  run:
    shell: bash
jobs:
  enable-automerge:
    runs-on: ubuntu-24.04
    if: ${{ github.event.pull_request.user.login == 'dependabot[bot]'}}
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@08eff52bf64351f401fb50d4972fa95b9f2c2d1b # v2
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
