# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: release-please-main
on:
  push:
    branches:
      - main
permissions:
  contents: write
  pull-requests: write
  actions: write
defaults:
  run:
    shell: bash
jobs:
  release-please:
    runs-on: ubuntu-22.04
    steps:
      - name: Get app token to create PR with
        uses: actions/create-github-app-token@a8d616148505b5069dccd32f177bb87d7f39123b # v1
        id: app-token
        with:
          app-id: ${{ secrets.GHA_PR_APP_ID }}
          private-key: ${{ secrets.GHA_PR_APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
      - uses: google-github-actions/release-please-action@af07583d1c57eb872d7df7a2e6a2384e2ce88e30 # v4.1
        id: release-please
        with:
          token: ${{ steps.app-token.outputs.token }}
