# Copyright 2021 D2iQ, Inc. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

name: release
on:
  workflow_dispatch:
  push:
    tags:
      - v*
permissions:
  contents: write
  packages: write
defaults:
  run:
    shell: bash
jobs:
  release-tag:
    runs-on: ubuntu-24.04
    steps:
      - name: Free disk space
        uses: insightsengineering/disk-space-reclaimer@124df9d297f0327c676943bb718a894af8d3897f # v1
        with:
          tools-cache: true
      - name: Recreate tool cache directory
        run: mkdir -p "${RUNNER_TOOL_CACHE}"
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
      - name: Install devbox
        uses: jetify-com/devbox-install-action@a0d2d53632934ae004f878c840055956d9f741b0 # v0.14.0
        with:
          enable-cache: true
      - name: Go cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Release
        run: devbox run -- task build:release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TMPDIR: ${{ runner.temp }}
